{% extends "base.html" %}
{% block title %}Raúl Domínguez | Web Development{% endblock %}

{% block content %}
<a href="{{ url_for('main.index') }}" class="back-button">{{ _('Home') }}</a>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_web_development.css') }}">
<h1>{{ _('Web Development Samples') }}</h1>
<div class="links">
    <!-- First row - Cleaning Stage -->
    <a href="{{ url_for('main.web_static') }}">{{ _('Static Website (HTML, CSS, JS)') }}</a>

    <!-- Second row - Supervised and No Supervised -->
    <!-- <div class="row">
        <a href="{{ url_for('main.supervised') }}">Supervised Analysis</a>
        <a href="{{ url_for('main.nosupervised') }}" class="disabled">No supervised Analysis</a>
    </div> -->

    <!-- Third row - Statistical Inference -->
    <!-- <a href="{{ url_for('main.inference') }}">Statistical Inference</a> -->
</div>
{% endblock %}